h2{
    color: indianred;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 20%;
    height: 50%;
    flex-wrap: wrap;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: hotpink;
    overflow: hidden;
}
li{
    float: left;
}

li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;

    border-radius: 5px;
    
}
li a:hover{
    color:white;
    background-color: blue;
}
li a:active{
    background-color: red;
    color: white;
}
.righty{
    float:right;
}